In [2]:
import pandas as pd

file_path = 'raw_data/data/data_OBS_DEU_P1D_T2M.csv'

# Read the CSV file into a DataFrame and select only the desired columns
df_raw = pd.read_csv(file_path, usecols=["Zeitstempel","Wert"])
df = df_raw.rename(columns= {"Zeitstempel":"timestamp","Wert":"temperature_Celsius"})

# Display the first/last few rows of the DataFrame
print(df.head())
print(df.tail())

    timestamp  temperature_Celsius
0  2020-01-01                 -0.2
1  2020-01-02                  0.2
2  2020-01-03                  6.0
3  2020-01-04                  5.2
4  2020-01-05                  5.0
       timestamp  temperature_Celsius
1823  2024-12-28                 -2.8
1824  2024-12-29                 -1.3
1825  2024-12-30                 -0.2
1826  2024-12-31                 -0.8
1827  2025-01-01                  3.8

In [3]:
# Convert Zeitstempel to datetime type and rename it
df["timestamp"] = pd.to_datetime(df["timestamp"])

# Filter for years 2014-2024
df_filtered = df[df["timestamp"].dt.year.between(2020,2024)]
df_filtered

      timestamp  temperature_Celsius
0    2020-01-01                 -0.2
1    2020-01-02                  0.2
2    2020-01-03                  6.0
3    2020-01-04                  5.2
4    2020-01-05                  5.0
...         ...                  ...
1822 2024-12-27                 -0.2
1823 2024-12-28                 -2.8
1824 2024-12-29                 -1.3
1825 2024-12-30                 -0.2
1826 2024-12-31                 -0.8

[1827 rows x 2 columns]

In [4]:
# Check for duplicates
df_filtered[df_filtered.duplicated()] # no duplicated valus

Empty DataFrame
Columns: [timestamp, temperature_Celsius]
Index: []

In [5]:
# Check for missing dates

# Generate full date range for 2014
full_range = pd.date_range(start='2020-01-01', end='2024-12-31')
existing_dates = pd.to_datetime(df_filtered['timestamp'])
missing_dates = full_range.difference(existing_dates)
print(missing_dates)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [6]:
# Check for outliars

In [7]:
# FEature engineering
# Create new column year
import calendar
df_filtered["year"] = df_filtered["timestamp"].dt.year
df_filtered["month"] = df_filtered["timestamp"].dt.month
df_filtered["month_name"] = df_filtered["month"].apply(lambda x: calendar.month_name[x])
print(df_filtered)
df_filtered.describe()

      timestamp  temperature_Celsius  year  month month_name
0    2020-01-01                 -0.2  2020      1    January
1    2020-01-02                  0.2  2020      1    January
2    2020-01-03                  6.0  2020      1    January
3    2020-01-04                  5.2  2020      1    January
4    2020-01-05                  5.0  2020      1    January
...         ...                  ...   ...    ...        ...
1822 2024-12-27                 -0.2  2024     12   December
1823 2024-12-28                 -2.8  2024     12   December
1824 2024-12-29                 -1.3  2024     12   December
1825 2024-12-30                 -0.2  2024     12   December
1826 2024-12-31                 -0.8  2024     12   December

[1827 rows x 5 columns]

/tmp/ipykernel_2977/250453941.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["year"] = df_filtered["timestamp"].dt.year
/tmp/ipykernel_2977/250453941.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["month"] = df_filtered["timestamp"].dt.month
/tmp/ipykernel_2977/250453941.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["month_name"] = df_filtered["month"].apply(lambda x: calendar.month_name[x])

,timestamp,temperature_Celsius,year,month
count,1827,1827.000000,1827.000000,1827.000000
mean,2022-07-02 00:00:00.000000256,12.300438,2022.000000,6.521073
min,2020-01-01 00:00:00,-8.100000,2020.000000,1.000000
25%,2021-04-01 12:00:00,6.800000,2021.000000,4.000000
50%,2022-07-02 00:00:00,11.900000,2022.000000,7.000000
75%,2023-10-01 12:00:00,18.350000,2023.000000,10.000000
max,2024-12-31 00:00:00,29.500000,2024.000000,12.000000
std,NaN,7.182514,1.415375,3.450157

In [8]:
# Create helper column with standard year

# Modify the year to 2000
df_filtered["timestamp_standard"] = df_filtered['timestamp'].apply(lambda x: x.replace(year=2000))
df_filtered

/tmp/ipykernel_2977/3544427343.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["timestamp_standard"] = df_filtered['timestamp'].apply(lambda x: x.replace(year=2000))

,timestamp,temperature_Celsius,year,month,month_name,timestamp_standard
0,2020-01-01,-0.2,2020,1,January,2000-01-01
1,2020-01-02,0.2,2020,1,January,2000-01-02
2,2020-01-03,6.0,2020,1,January,2000-01-03
3,2020-01-04,5.2,2020,1,January,2000-01-04
4,2020-01-05,5.0,2020,1,January,2000-01-05
...,...,...,...,...,...,...
1822,2024-12-27,-0.2,2024,12,December,2000-12-27
1823,2024-12-28,-2.8,2024,12,December,2000-12-28
1824,2024-12-29,-1.3,2024,12,December,2000-12-29
1825,2024-12-30,-0.2,2024,12,December,2000-12-30
1826,2024-12-31,-0.8,2024,12,December,2000-12-31

In [9]:
# Save raw data as csv
df_filtered.to_csv("preprocessed_df.csv",index=False)