In [34]:
import pandas as pd

file_path = 'raw_data/data/data_OBS_DEU_P1D_T2M.csv'

# Read the CSV file into a DataFrame and select only the desired columns
df_raw = pd.read_csv(file_path, usecols=["Zeitstempel","Wert"])
df = df_raw.rename(columns= {"Zeitstempel":"timestamp","Wert":"value"})

# Display the first/last few rows of the DataFrame
print(df.head())
print(df.tail())

    timestamp  value
0  2014-01-01    5.8
1  2014-01-02    7.3
2  2014-01-03    7.8
3  2014-01-04    6.2
4  2014-01-05    5.5
       timestamp  value
4014  2024-12-28   -2.8
4015  2024-12-29   -1.3
4016  2024-12-30   -0.2
4017  2024-12-31   -0.8
4018  2025-01-01    3.8

In [35]:
# Convert Zeitstempel to datetime type and rename it
df["timestamp"] = pd.to_datetime(df["timestamp"])

# Filter for years 2014-2024
df_filtered = df[df["timestamp"].dt.year.between(2014,2024)]
df_filtered

      timestamp  value
0    2014-01-01    5.8
1    2014-01-02    7.3
2    2014-01-03    7.8
3    2014-01-04    6.2
4    2014-01-05    5.5
...         ...    ...
4013 2024-12-27   -0.2
4014 2024-12-28   -2.8
4015 2024-12-29   -1.3
4016 2024-12-30   -0.2
4017 2024-12-31   -0.8

[4018 rows x 2 columns]

In [36]:
# Check for duplicates
df_filtered[df_filtered.duplicated()] # no duplicated valus

Empty DataFrame
Columns: [timestamp, value]
Index: []

In [37]:
# Check for missing dates

# Generate full date range for 2014
full_range = pd.date_range(start='2014-01-01', end='2014-12-31')
existing_dates = pd.to_datetime(df_filtered['timestamp'])
missing_dates = full_range.difference(existing_dates)
print(missing_dates)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [38]:
# Check for outliars

In [43]:
# FEature engineering
# Create new column year
df_filtered["year"] = df_filtered["timestamp"].dt.year
df_filtered.describe()

/tmp/ipykernel_4421/4186162642.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["year"] = df_filtered["timestamp"].dt.year

                           timestamp        value         year
count                           4018  4018.000000  4018.000000
mean   2019-07-02 11:59:59.999999744    12.113639  2019.000747
min              2014-01-01 00:00:00    -8.100000  2014.000000
25%              2016-10-01 06:00:00     6.300000  2016.000000
50%              2019-07-02 12:00:00    11.900000  2019.000000
75%              2022-04-01 18:00:00    17.900000  2022.000000
max              2024-12-31 00:00:00    30.200000  2024.000000
std                              NaN     7.236225     3.162868